
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
    </div>
</section>

