@{
    ViewBag.Title = "Home Page";
}

<div class="div-background">
    <div class="div-form-container">
        <div class="div-subcontainer div-login">
            <table>
                <tr>
                    <td class="td-item-right td-txthead">
                        <span class="span-txthead">I'm already a member</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="username" class="input-login-user" id="input-loginuser" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="password" class="input-login-pass" id="input-loginpass" />
                    </td>
                </tr>
                <tr>
                    <td class="td-item-right">
                        <button id="btn-login">login</button>
                    </td>
                </tr>
                <tr>
                    <td class="td-item-right">
                        <p class="p-alert" id="p-loginalert"></p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="div-subcontainer div-register">
            <table>
                <tr>
                    <td class="td-txthead">
                        <span class="span-txthead">I'm a new member</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="username" class="input-register-user" id="input-registeruser" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" placeholder="password" class="input-register-pass" id="input-registerpass" />
                    </td>
                </tr>
                <tr>
                    <td class="td-item-right">
                        <button id="btn-register">register</button>
                    </td>
                </tr>
                <tr>
                    <td class="td-item-right">
                        <p class="p-alert" id="p-registeralert"></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>